.danger {
	color: red;
}

input {
	font-family: inherit;
	font-size: inherit;
	padding-inline: .75rem;
	color: inherit;
	border-radius: 0.75rem;
	min-height: 2.5rem;
	caret-color: rgb(var(--rgb-default));
	background-color: rgb(var(--rgb-tertiary));

	&.danger {
		border-color: red;
	}

	&.borderless {
		border: none;

		&:focus {
			outline: none;
		}
	}

	&::placeholder {
		opacity: 0.25;
		font-weight: normal;
	}

	&.with-end-content {
		padding-right: 5rem;
	}
}

.password-with-visibility {
	position: relative;
}
