input {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	caret-color: var(--color-default);

	&.borderless {
		border: none;

		&:focus {
			outline: none;
		}
	}

	&::placeholder {
		opacity: 0.25;
		font-weight: normal;
	}

	&.with-end-content {
		padding-right: 5rem;
	}
}

.password-with-visibility {
	position: relative;
}
