.register-header {
	padding: 1.25rem 0;
	display: flex;
	justify-content: space-between;
}

.register-footer {
	height: 5rem;
	display: flex;
	gap: 2rem;
	justify-content: end;
	align-items: center;
}

.email-register-input {
	width: 100%;
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}

input {
	background: none;
}

.get-started-button {
	animation: pulseButton 1.5s linear infinite;
}

@keyframes dynamicInnerShadow {
	0% {
		/* inset */ box-shadow: 4px 2px 4px #f8cd0e;
	}

	25% {
		/* inset */ box-shadow: -2px 4px 4px #f8cd0e;
	}

	50% {
		/* inset */ box-shadow: -4px -2px 4px #f8cd0e;
	}

	75% {
		/* inset */ box-shadow: 2px -4px 4px #f8cd0e;
	}

	100% {
		/* inset */ box-shadow: 4px 2px 4px #f8cd0e;
	}
}

@keyframes pulseButton {
	0% {
		box-shadow: 0 0 10px 0px rgba(248, 205, 14, 0.3);
	}
	50% {
		box-shadow: 0 0 14px 6px rgba(248, 205, 14, 0.5);
	}
	100% {
		box-shadow: 0 0 10px 0px rgba(248, 205, 14, 0.3);
	}
}
