.c-stepper__item {
	--circle-size: clamp(1.5rem, 5vw, 3rem);
	--spacing: clamp(0.25rem, 2vw, 0.5rem);

	position: relative;
	display: flex;
	gap: 1rem;

	&:before {
		content: "";
		flex: 0 0 var(--circle-size);
		display: flex;
		justify-content: center;
		align-items: center;
		height: var(--circle-size);
		border-radius: 50%;
		/* background-color: lightgrey; */
	}

	&::before {
		background-color: none;
		border: 0.25rem solid #f8cd0e;
	}

	&.complete::before {
		background-color: #ffc2c2;
		border: none;
	}

	&.current::before {
		background-color: #f8cd0e;
		border: none;
	}

	&:not(:last-child) {
		padding-bottom: 4rem;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: calc(var(--circle-size) + var(--spacing));
			bottom: var(--spacing);
			z-index: -1;
			transform: translateX(calc(var(--circle-size) / 2));
			width: 2px;
			background-color: #e0e0e0;
		}
	}
}

.c-stepper__title {
	font-weight: bold;
	font-size: clamp(1rem, 4vw, 1.25rem);
	/* margin-bottom: clamp(0.85rem, 2vmax, 1rem); */
}

.c-stepper__desc {
	color: grey;
	font-size: clamp(0.85rem, 2vmax, 1rem);
}

.c-stepper__content {
	max-width: 700px;
}
